variables:
  PYTEST_ADDOPTS: "--disable-socket"
  UV_VERSION: "0.9.30"
  PYTHON_VERSION: "3.13"
  BASE_LAYER: bookworm-slim
  # GitLab CI creates a separate mountpoint for the build directory,
  # so we need to copy instead of using hard links.
  UV_LINK_MODE: copy

stages:
  - test
  - deploy

run_tests:
  stage: test
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER

  script:
    - uv sync --extra dev --extra lemmy --extra oauth
    - uv run pytest

  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

build_site:
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  stage: deploy
  script:
    - uv sync --extra docs
    - uv run mkdocs build

  artifacts:
    paths:
      - site

  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - docs/**/*
        - mkdocs.yml
      when: on_success
    - when: manual


pages:
  stage: deploy
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  needs:
    - build_site
  script:
    - mv site public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - docs/**/*
        - mkdocs.yml
      when: on_success

    - when: manual
      allow_failure: false

  allow_failure: true


publish_python_package:
  stage: deploy
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  needs:
    - run_tests

  script:
    - apt-get update && apt-get install -y jq curl
    - pip install id
    - oidc_token=$(python -m id pypi)
    - uv build
    - resp=$(curl -X POST https://pypi.org/_/oidc/mint-token -d "{\"token\":\"${oidc_token}\"}")
    - api_token=$(jq --raw-output '.token' <<< "${resp}")
    - uv publish --token ${api_token}

  id_tokens:
    PYPI_ID_TOKEN:
      aud: pypi

  rules:
    - if: '$CI_COMMIT_TAG'
      when: on_success
    - when: manual
