variables:
  PYTEST_ADDOPTS: "--disable-socket"
  UV_VERSION: "0.9.11"
  PYTHON_VERSION: "3.13"
  BASE_LAYER: bookworm-slim
  # GitLab CI creates a separate mountpoint for the build directory,
  # so we need to copy instead of using hard links.
  UV_LINK_MODE: copy

stages:
  - build_docs
  - publish_docs
  - test
  - build
  - release

build_site:
  image: python:3.13
  before_script:
    - pip install uv
    - uv sync --extra docs

  stage: build_docs
  script:
    - uv run mkdocs build
  artifacts:
    paths:
      - site
  rules:
    - when: manual
      allow_failure: false

    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - docs/**/*
        - mkdocs.yml

pages:
  stage: publish_docs
  image: python:3.13
  script:
    - mv site public
  artifacts:
    paths:
      - public
  needs:
    - build_site
  rules:
    - when: manual
      allow_failure: false

    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - docs/**/*
        - mkdocs.yml
  allow_failure: true

test:
  stage: test
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER

  script:
    - uv sync --extra dev
    - uv run pytest

  rules:
    - changes:
        - activitypub/*
        - pyproject.toml
        - uv.lock

publish_python_package:
  stage: build
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER

  script:
    - apt-get update && apt-get install -y jq
    - pip install id
    - oidc_token=$(python -m id PYPI)
    - uv build
    - resp=$(curl -X POST https://pypi.org/_/oidc/mint-token -d "{\"token\":\"${oidc_token}\"}")
    - api_token=$(jq --raw-output '.token' <<< "${resp}")
    - uv publish --token ${api_token}

  id_tokens:
    PYPI_ID_TOKEN:
      aud: pypi

  when: manual
